absl-py==0.12.0
adversarial-robustness-toolbox==1.5.1
advertorch==0.2.3
astroid==2.4.2
astunparse==1.6.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
blessings==1.7
bokeh==2.0.2
cachetools==4.1.0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
clu==0.0.1a2
cma==3.0.3
colorcet==2.0.2
contextlib2==0.6.0.post1
contextvars==2.4
cycler==0.10.0
Cython==0.29.21
dask==2.18.0
dataclasses==0.8
datashader==0.11.0
datashape==0.5.2
decorator==4.4.1
DeepXDE==0.8.1
defusedxml==0.6.0
detectron2==0.2.1
dill==0.3.3
distributed==2.18.0
dm-tree==0.1.5
eagerpy==0.29.0
entrypoints==0.3
et-xmlfile==1.0.1
ffmpeg-python==0.2.0
flatbuffers==1.12
flax @ git+https://github.com/google/flax.git@7ef53e6ea57f1d6ea33217798da49e75dbb3583d
foolbox==3.3.1
fsspec==0.7.4
future==0.18.2
fvcore==0.1.2.post20201020
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.12
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
holoviews==1.13.2
idna==2.9
imageio==2.8.0
immutables==0.14
importlib-metadata==1.5.0
importlib-resources==3.3.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jax==0.2.6
jaxlib==0.1.56+cuda100
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.32.1
locket==0.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
ml-collections==0.1.0
msgpack==1.0.0
multipledispatch==0.6.0
mypy==0.800
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numba==0.49.1
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olympic==0.1.5
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.5
pandocfilters==1.4.2
panel==0.9.5
param==1.9.3
parso==0.6.1
partd==1.1.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pkg_resources==0.0.0
portalocker==2.0.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.11.3
prox-tv==3.3.0
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycocotools==2.0.2
pycparser==2.20
pyct==0.4.6
pydot==1.4.1
pydub==0.24.1
Pygments==2.5.2
pylint==2.5.3
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
pyviz-comms==0.7.5
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==18.1.1
q==2.6
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.6
SALib==1.3.11
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
setGPU==0.0.7
six==1.15.0
sklearn==0.0
smmap==3.0.5
sortedcontainers==2.2.2
stats==0.1.2a0
statsmodels==0.11.0
tabulate==0.8.7
tbb==2020.0.133
tblib==1.6.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.0
tensorflow==2.3.0
tensorflow-cpu==2.3.1
tensorflow-datasets==4.0.1
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorflow-metadata==0.25.0
tensorflow-probability==0.11.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.7.4
timm==0.4.5
toml==0.10.1
toolz==0.10.0
torch==1.7.0
-e git+ssh://git@github.com/ameya005/Conn_InvNet.git@848a90e45808e540d3047d92b8d0a220da1bc5e7#egg=torch_submod&subdirectory=torch-submod
torchvision==0.8.1
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
umap-learn==0.4.4
urllib3==1.25.9
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.15.1
xlrd==2.0.1
yacs==0.1.8
zict==2.0.0
zipp==2.1.0
